extends layout

block content
  include nav
  main
    .container
      .row
        section.top-row(id="top").col-12.col-lg-2
          a(href=imageBaseUrl+'w_auto,c_scale/v1538472456/portfolio/self-portrait.jpg', data-toggle='lightbox', data-gallery='home-gallery')
            img.img-fluid.home-gallery__image(src='https://placeholder.pics/svg/300x400', data-src=imageBaseUrl+"v1538472456/portfolio/self-portrait.jpg", class="cld-responsive")
            h1 About Alex
            p.lead
              | Developer, Chill Dude.
              br
              | Good at googling.
        .col-12.col-lg-10.row 
          .col-12
            nav.top-row(aria-label='list of projects navigation control')
              h1.project-section__title Projects
              ul.pagination.pagination-sm
                li.page-item
                  a.page-link(href='#project-section-carousel', role='button', data-slide='prev', aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous
                - for ( i=0; i < projects.length; i++)
                  li.page-item
                    a.page-link(href=("#" + projects[i].name), data-target='#project-section-carousel', data-slide-to=i) #{projects[i].name}
                a.page-link(href='#project-section-carousel', role='button', data-slide='next', aria-label='Next')
                  span(aria-hidden='true') »
                  span.sr-only Next
          #project-section-carousel.carousel.slide.carousel-fade(data-ride='carousel').col-12
            ol.carousel-indicators
              li.active(data-target='#project-section-carousel', data-slide-to='0')
              li(data-target='#project-section-carousel', data-slide-to='1')
              li(data-target='#project-section-carousel', data-slide-to='2')
            .carousel-inner
              each project, index in projects
                .carousel-item(class=index === 0 ? 'active' : '')
                  section(id=project.name)
                    include project-card
            //- .carousel-item
            //-   img.d-block.w-100(src='https://placeholder.pics/svg/600x400', alt='Second slide')
            //- .carousel-item
            //-   img.d-block.w-100(src='https://placeholder.pics/svg/600x400', alt='Third slide')
        //- each project in projects
        //-   section(id=project.name).col-md-6
        //-     include project-card
  footer
    p.text-center Alex Webb - 2018 