extends layout

block content

  nav(id="navParent").navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHome', aria-controls='navbarHome', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarHome.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='')
              | About Alex 
              span.sr-only (current)
          - for ( i=0; i <= 3 ; i++)
            li.nav-item
              a.nav-link(href=("#" + projects[i].name)) #{projects[i].name}
  body(data-spy="scroll" data-target="#navParent" data-offset="0").container
    section.row
      .offset-lg-4.col-12.col-lg-4
        h1 About Alex
        p.lead
          | Developer, Chill Dude.
          br
          | Good at googling.
    each project in projects
      section(id=project.name).row
        .col-12.col-lg-8
          img(src="", alt="")
        .col-12.col-lg-4
          a(href=("https://" + project.href) target="_blank" rel="noopener noreferrer")
            h1 #{project.name}
          p #{project.description}
          ul
            each tech in project.techUsed
              li 
                a(href=("https://" + tech.href) target="_blank" rel="noopener noreferrer") #{tech.name}
  footer
    p.text-center Alex Webb - 2018 