extends layout

block content

  nav(id="navParent").navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top
    .container
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHome', aria-controls='navbarHome', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarHome.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.text-white
          li.nav-item.active
            a.nav-link(href='#top')
              | About Alex
              span.sr-only (current)
          - for ( i=0; i < projects.length; i++)
            li.nav-item
              a.nav-link(href=("#" + projects[i].name)) #{projects[i].name}
          li.nav-item
              a.nav-link(href=("https://" + githubString) target="_blank" rel="noopener noreferrer") GitHub
          li.nav-item
              a.nav-link(href=("/files/alex-webb-resume.pdf") target="_blank" rel="noopener noreferrer") Resume
  body(data-spy="scroll" data-target="#navParent" data-offset="54")
    .container
      section(id="top")
        .row
          a.offset-md-4.col-md-4(href=imageBaseUrl+'w_auto,c_scale/v1538472456/portfolio/self-portrait.jpg', data-toggle='lightbox', data-gallery='home-gallery')
            img.img-fluid.home-gallery__image(src='https://placeholder.pics/svg/300x400', data-src=imageBaseUrl+"v1538472456/portfolio/self-portrait.jpg", class="cld-responsive")
          .offset-md-4.col-12.col-md-4
            h1 About Alex
            p.lead
              | Developer, Chill Dude.
              br
              | Good at googling.
      each project in projects
        section(id=project.name)
          .project.row
            .col-12
              a(href=("https://" + project.href) target="_blank" rel="noopener noreferrer")
                h1 #{project.name}
            .col-12.col-md-8
              .row
                a.project__image.col-sm-6(href=imageBaseUrl+project.images[0], data-toggle='lightbox', data-gallery='project-gallery')
                  img.hoverable.img-fluid.rounded(src='https://placeholder.pics/svg/300x150', data-src=imageBaseUrl+responsiveQString+project.images[0], class="cld-responsive")
                a.project__image.col-sm-6(href=imageBaseUrl+project.images[1], data-toggle='lightbox', data-gallery='project-gallery')
                  img.hoverable.img-fluid.rounded(src='https://placeholder.pics/svg/300x100', data-src=imageBaseUrl+responsiveQString+project.images[1], class="cld-responsive")
                .col-sm-12.project__github-link-parent
                  a.project__github-link-child(href=("https://" + githubString + project.githubId) target="_blank" rel="noopener noreferrer")
                    | Visit on GitHub
            .col-12.col-md-4
              .row.project__description
                a.col.text-center.project__site-link(href=("https://" + project.href) target="_blank" rel="noopener   noreferrer")
                    | Visit Site
                p #{project.description}
                ul.row.list-unstyled
                  each tech in project.techUsed
                    li.col-md-6 
                      a(href=("https://" + tech.href) target="_blank" rel="noopener noreferrer") #{tech.name}
  footer
    p.text-center Alex Webb - 2018 